
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3></h3>
  </div>
  <div class="modal-body">
	<div class="general-info">
		<table>
			<tr>
				<td colspan="2"><h2 class="name"></h2></td>
			</tr>
			<tr>
				<td colspan="2"><img class="customer-rating" /> <a
					class="btn btn-link">Write a Review</a> | <a class="btn btn-link">Ask
						a Question</a></td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="product-carousel"></div>

				</td>
			</tr>
			<tr>
				<td width="50%">
					<h3>About</h3>
					<p class="about">
					</p>
				</td>
				<td width="50%">
					<button class="btn">Qty</button>
					<button class="btn btn-warning">Add to Cart</button>
					<div class="row-fluid">
					<a class="btn btn-link"><i class="icon-map-marker"></i> Find This product Locally</a><br /> 
					<a class="btn btn-link"><i	class="icon-gift"></i> Calculate Arrival Date</a><br />
					<a class="btn btn-link"><i class="icon-random"></i> Share With a Friend</a><br />
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<hr />
	
	<div class="recommendation">
	
		<button class="btn pull-right">See More <i class="icon-chevron-right"></i></button>
		<h3>People Who Viewed This Item Also Viewed</h3>
		
		<div class="also-viewed"></div>
	</div>
	
	<hr />
	
	<div class="product-details">

		<button class="btn pull-right">Have a Question? <i class="icon-chevron-right"></i></button>
		<h3>Product Details</h3>
		
		<div class="nav"></div>
	</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>


